@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
.clear{
	content: "";
	display: block;
	clear: both;
}
.top{
	text-decoration: none;
	color: gray;
	display: block;
	float: left;
	box-sizing: border-box;
	width: 62px;
	text-align: center;
}
.top:hover{
	background-color: #eee;
	border: 1px solid black;
	border-radius: 2.5px;
}
.xialalan{
	display: none;
	width: 150%;
	background-color: lightgoldenrodyellow;
	color: cornflowerblue;
}
.top:hover>.xialalan{
	display: block;
}
.xialalan:hover{
	background-color: #eee;
}
